main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-grow: 1;
    flex-basis: 400px;
    background-color: white;
    padding: 40px;
}

section h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    color: gray;
    font-weight: lighter;
}

form {
    color: #333;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    color: blue;
}

textarea {
    height: 100px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

section p {
    color: gray;
    margin: 10px 0;
}

#privacidade {
    font-size: 12px;
    margin-top: 50px;
}

section h2 {
    font-size: 23px;
    color: gray;
    font-weight: lighter;
    margin: 60px 0 20px 0;
}

#redes a {
    margin-right: 30px;
}

#redes img {
    /* width: 80px; */
}

.mapa {
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
    height: 0;
}

.mapa iframe {
    border: none;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
}