*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: gray;
}

header {
    padding-bottom: 10px;
    color: gray;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 40px;
    border-bottom: 5px solid lightgray;
    font-weight:normal;
    font-style: italic;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    border-top: 2px solid lightgray;
    margin-top: 5px;
    border-bottom: 2px solid lightgray;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    padding: 20px;
    display:inline-block;
}

li a:hover {
    background-color: #eee;
}

main {
    background-color: #f9f9f9;
}

footer {
    padding: 50px;
    text-align: center;
    color: gray;
    border-top: 2px solid lightgray;
}
