#principal {
    width: 100%;
    height: 400px;
    background-image: url("../img/xicaradecafe.jpg");
    background-position: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px gray;
    padding-top: 120px;
    box-sizing: border-box;
}

#principal div {
    background-color: #0002;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

#principal h1 {
    font-size: 35px;
    display: inline-block;    
}

#principal p {
    font-size: 20px;
}

#artigos {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#artigos article {
    /* display: inline-block; */
    /* max-width: 590px; */
    flex-grow: 1;
    flex-basis: 375px;
    margin: 20px 10px 0;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 3px 3px 8px lightgray;
}

#artigos article div.img {
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

#i1 {
    background: url("../img/tabelas.png") center;
}

#i2 {
    background: url("../img/foto-m.jpg") center;
}

#i3 {
    background: url("../img/foto-p.jpg") center;
}

#i4 {
    background: url("../img/xicaradecafe.jpg") bottom;
}

#i5 {
    background: url("../img/foto-g.jpg") top;
}
#artigos article h1 {
    color: gray;
    border-bottom: 1px solid lightgray;
    margin:20px;
}

#artigos article p {
    margin: 20px;
    font-size: 18px;
}
